* {
    margin: 0;
    padding: 0;
}

img {
    border-radius: 16px;
}

h2 {
    font-family: 'Markazi Text', serif;
    font-weight: 500;
    font-size: 64px;
}

h3 {
    font-family: 'Markazi Text', serif;
    font-weight: 400;
    font-size: 40px;
}

.button-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 45px;
    background-color: #f4ce14;
    font-family: 'Karla', sans-serif;
    text-decoration: none;
    font-size: 18px;
    color: #000;
    font-weight: 700;
    border-radius: 16px;
    border: 1px solid #000;
    transition: all 0.3s ease-in-out;
}

.button-primary:hover {
    background-color: #000;
    color: #edefee;
}

/*HEADER*/
header .app-header-mobile {
    display: none;
}

header .app-header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 50px;
    height: 100px;
}

header .app-header .logo {
    width: 200px;
}

header .app-header ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    column-gap: 30px;
}

header .app-header ul li a {
    text-decoration: none;
    font-family: 'Karla', sans-serif;
    font-weight: 800;
    font-size: 16px;
    color: #000;
}

/*HERO BANNER HOME*/
#hero-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #495e57;
}

#hero-banner .container {
    display: flex;
    width: 70vw;
}

#hero-banner .hero-call-to-action {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 50px;
    flex: 1;
}

#hero-banner .hero-call-to-action h2 {
    color: #f4ce14;
    line-height: 0.5em;
}

#hero-banner .hero-call-to-action h3 {
    color: #fff;
    line-height: 0.5em;
}

#hero-banner .hero-call-to-action p {
    font-family: 'Karla', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    margin: 30px 0;
}

#hero-banner .hero-image {
    position: relative;
    flex: 1;
}

#hero-banner .hero-image img {
    position: absolute;
    left: 20px;
    top: 30px;
    border: 1px solid #000;
    box-shadow: -5px 5px 5px #333;
}

/*WEEK SPECIALS HOME*/
#week-specials {
    padding: 70px 50px;
}

#week-specials .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#week-specials .specials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    column-gap: 50px;
    padding: 50px 30px;
}

#week-specials article {
    width: 30%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

#week-specials article .dish-img {
    width: 100%;
    height: 200px;
    border: 1px solid #000;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    overflow: hidden;
}

#week-specials article .dish-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#week-specials article .dish-information {
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    min-height: 220px;
    background-color: #edefee;
    justify-content: space-around;
}

#week-specials article .dishname-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

#week-specials article .dishname-price h4 {
    font-family: 'Karla', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #000;
}

#week-specials article .dishname-price span {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #ee9972;
}

#week-specials article .dish-description p {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #495e57;
}

#week-specials article .dish-delivery span {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #000;
}

/*TESTIMONIALS*/
#testimonials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #edefee;
    padding: 100px 0px 120px;
    row-gap: 30px;
}

#testimonials .container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 80vw;
    column-gap: 15px;
}

#testimonials .testimonial .testimonial-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#testimonials .testimonial .testimonial-info .rating-image-name {
    display: flex;
    flex-direction: column;
}

#testimonials .testimonial .rating-image-name .rating {
    width: 100px;
    height: 30px;
}

#testimonials .testimonial .rating-image-name .rating img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#testimonials .testimonial .rating-image-name .image,
#testimonials .testimonial .rating-image-name .name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#testimonials .testimonial .rating-image-name .name {
    font-family: 'Karla', serif;
    font-size: 18px;
    font-weight: 700;
    margin: 5px 0;
}

#testimonials .testimonial .rating-image-name .image img {
    width: 80px;
    height: 80px;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}

#testimonials .testimonial .testimonial-info .comment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Karla', serif;
    font-size: 16px;
    font-weight: 400;
}

/*ABOUT HOME*/
#about {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 700px;
}

#about .container {
    display: flex;
    width: 70vw;
}

#about .banner-call-to-action {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 50px;
    flex: 1;
}

#about .banner-call-to-action h2 {
    color: #495e57;
    line-height: 0.5em;
}

#about .banner-call-to-action h3 {
    color: #f4ce14;
    line-height: 0.5em;
}

#about .banner-call-to-action p {
    font-family: 'Karla', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #333;
    margin: 30px 0px;
}

#about .banner-images {
    position: relative;
    flex: 1;
}

#about .banner-images .back {
    top: 30%;
    box-shadow: -5px 5px 5px #333;
}

#about .banner-images .front {
    left: 30%;
    box-shadow: -2px 2px 2px #333;
}

#about .banner-images .image {
    position: absolute;
    width: 300px;
    height: 350px;
    border: 1px solid #000;
    border-radius: 16px;
    overflow: hidden;
}

#about .banner-images .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/*FOOTER*/
footer {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 50px 20px;
    background-color: #495e57;
}

footer .logo {
    width: 150px;
}

footer h3 {
    margin-bottom: 15px;
    color: #f4ce14;
}

footer ul {
    list-style: none;
}

footer li a {
    text-decoration: none;
    font-family: 'Karla', serif;
    font-size: 18px;
    font-weight: 500;
    color: #edefee;
    line-height: 1.5em;
}

/*HERO RERSERVATIONS*/
#hero-reservations {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./assets/img/reservations/Mario\ and\ Adrian\ b.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 500px;
}

#hero-reservations .container {
    display: flex;
    width: 70vw;
    z-index: 2;
}

#hero-reservations .hero-call-to-action {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 50px;
    flex: 1;
}

#hero-reservations .hero-call-to-action h2 {
    color: #f4ce14;
    line-height: 0.5em;
}

#hero-reservations .hero-call-to-action h3 {
    color: #fff;
    line-height: 0.5em;
}

#hero-reservations .hero-call-to-action p {
    font-family: 'Karla', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    margin: 30px 0;
}

#hero-reservations .overlay {
    position: absolute;
    width: 100vw;
    height: 100%;
    background-color: #495e57;
    opacity: 0.7;
    z-index: 1;
}

#hero-reservations .empty-column {
    flex: 1;
}

/*MAKE YOUR RESERVATIONS FORM*/
#reservations {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 50px 60px 100px;
    background-color: #495e57;
}

#reservations h2 {
    color: #f4ce14;
}

#reservations .container {
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    width: 70vw;
}

#reservations h3 {
    font-family: 'Karla', serif;
    font-size: 20px;
    font-weight: 700;
    color: #edefee;
}

#reservations .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

#reservations .images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
    flex: 1;
}

#reservations form {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

form label {
    font-family: 'Karla', serif;
    font-size: 18px;
    font-weight: 700;
    color: #000;
    width: 100%;
}

form input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    background-image: url('./assets/img/reservations/calendar.png');
    width: 24px;
    height: 24px;
}

form input[type="text"],
input[type="datetime-local"],
input[type="number"],
input[type="email"],
input[type="tel"],
select {
    display: block;
    width: 100%;
    height: 35px;
    border-radius: 16px;
    padding: 0px 10px;
    box-sizing: border-box;
    font-family: 'Karla', serif;
    font-size: 16px;
    font-weight: 400;
}

form input[type="text"]::placeholder,
input[type="number"]::placeholder,
input[type="email"]::placeholder,
input[type="tel"]::placeholder {
    font-family: 'Karla', serif;
    font-size: 18px;
    font-weight: 700;
    color: #000;
}

form h4 {
    font-family: 'Karla', serif;
    font-size: 18px;
    font-weight: 700;
    color: #edefee;
}

form .radio-group {
    display: flex;
    flex-direction: row;
}

form .radio-group label {
    color: #edefee;
    font-size: 16px;
    font-weight: 400;
}

form .radio-group label,
input {
    flex: 1;
}

form input[type="checkbox"] {
    margin-right: 30px;
    margin-left: 10px;
}

form .checkbox-terms {
    margin: 10px 0px;
}

form .checkbox-terms label {
    color: #edefee;
}

form input[type="submit"] {
    background-color: #f4ce14;
    font-family: 'Karla', sans-serif;
    text-decoration: none;
    font-size: 18px;
    color: #000;
    font-weight: 700;
    border-radius: 16px;
    border: 1px solid #000;
    padding: 10px 0px;
    transition: all 0.3s ease-in-out;
}

form input[type="submit"]:hover {
    background-color: #000;
    color: #edefee;
}

#reservations .images .img {
    width: 90%;
    height: 40%;
    border: 1px solid #000;
    border-radius: 16px;
    box-shadow: -5px 5px 5px #333;
    overflow: hidden;
}

#reservations .images .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/*WEEKLY SPECIALS*/
#weekly-specials {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #edefee;
    min-height: 600px;
}

#weekly-specials .container {
    display: flex;
    width: 70vw;
}

#weekly-specials .banner-call-to-action {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 50px;
    flex: 1;
}

#weekly-specials .banner-call-to-action h2 {
    color: #495e57;
    line-height: 0.5em;
}

#weekly-specials .banner-call-to-action h3 {
    color: #f4ce14;
    line-height: 0.5em;
}

#weekly-specials .banner-call-to-action p {
    font-family: 'Karla', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #333;
    margin: 30px 0px;
}

#weekly-specials .banner-images {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

#weekly-specials .banner-images .row {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    justify-content: center;
}

#weekly-specials .banner-images .row .image {
    width: 200px;
    height: 200px;
    border: 1px solid #000;
    border-radius: 16px;
    box-shadow: -5px 5px 5px #333;
    overflow: hidden;
}

#weekly-specials .banner-images .row .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@media screen and (min-width: 320px) and (max-width: 424px) {

    /*HERO BANNER HOME*/
    #hero-banner .container {
        align-items: center;
        justify-content: center;
    }

    #hero-banner .hero-call-to-action {
        width: 90vw;
        text-align: center;
    }

    #hero-banner .hero-call-to-action h2,
    #hero-banner .hero-call-to-action h3 {
        line-height: 0.8em;
    }

    #hero-banner .hero-call-to-action p {
        width: 90vw;
    }

    #hero-banner .hero-call-to-action a {
        align-self: center;
    }

    #hero-banner .hero-image {
        display: none;
    }
}

@media screen and (max-width: 425px) {

    /*WEEK SPECIALS*/
    #week-specials .specials {
        flex-direction: column;
        row-gap: 30px;
    }

    #week-specials .specials article {
        width: 90%;
    }

    #week-specials .specials {
        padding: 50px 0;
        align-items: center;
    }

    #week-specials article .dish-information {
        min-height: 200px;
    }

    /*FOOTER*/
    footer {
        flex-direction: column;
        row-gap: 30px;
    }

    footer div:first-child {
        align-self: center;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {

    /*FOOTER*/
    footer {
        flex-direction: row;
        flex-wrap: wrap;
    }

    footer div:first-child {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    footer>div {
        width: 40vw;
    }

    footer h3 {
        line-height: 0.8em;
    }
}

@media screen and (min-width: 426px) and (max-width: 915px) {

    /*WEEK SPECIALS*/
    #week-specials {
        padding: 70px 20px;
    }

    #week-specials .specials {
        flex-direction: column;
        row-gap: 30px;
        padding: 50px 0px;
    }

    #week-specials .specials article {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    #week-specials .specials article .dish-img {
        border-radius: 0px;
        flex: 1;
        height: auto;
    }

    #week-specials .specials article .dish-information {
        flex: 1;
        min-height: 220px;
    }
}

@media screen and (max-width: 615px) {

    /*TESTIMONIALS*/
    #testimonials .container {
        flex-direction: column;
        row-gap: 30px;
    }

    /*ABOUT*/
    #about {
        min-height: auto;
        padding: 50px 20px 60px;
    }

    #about .container {
        width: 90vw;
        flex-direction: column;
        row-gap: 30px;
    }

    #about .banner-call-to-action {
        padding: 30px 10px;
    }

    #about .banner-call-to-action h2 {
        line-height: 0.8em;
    }

    #about .banner-images {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    #about .banner-images .image {
        position: static;
        width: 150px;
        height: 200px;
        margin-bottom: 20px;
    }

    /*MAKE YOUR RESERVATION*/
    #reservations {
        padding: 50px 20px 100px;
    }

    #reservations h2 {
        line-height: 0.8em;
        text-align: center;
    }

    #reservations .container {
        width: 90vw;
    }

    #reservations .images {
        display: none;
    }
}

@media screen and (min-width: 616px) and (max-width: 1024px) {

    /*TESTIMONIALS*/
    #testimonials .container {
        flex-wrap: wrap;
        width: 90vw;
    }

    #testimonials .container .testimonial {
        width: 45%;
        margin-bottom: 15px;
    }

    /*ABOUT*/
    #about .container {
        width: 90vw;
    }

    #about .banner-call-to-action {
        padding: 30px 20px;
    }

    #about .banner-images .image {
        width: 25vw;
        height: 30vw;
        /* max-width: 300px;
        max-height: 350px; */
    }

    #about .banner-call-to-action h2,
    #about .banner-call-to-action h3 {
        line-height: 0.8em;
    }

    /*MAKE YOUR RESERVATION*/
    #reservations {
        padding: 50px 20px 100px;
    }

    #reservations .container {
        width: 90vw;
        column-gap: 20px;
    }

    #reservations .images {
        justify-content: space-evenly;
    }
}

@media screen and (min-width: 1025px){

    /*TESTIMONIALS*/
    #testimonials .container {
        width: 90vw;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

    /*HEADER*/
    header .app-header ul {
        column-gap: 20px;
    }

    /*HERO BANNER*/
    #hero-banner .container {
        width: 90vw;
    }

    #hero-banner .hero-call-to-action {
        padding: 30px 20px;
    }

    #hero-banner .hero-call-to-action h2,
    #hero-banner .hero-call-to-action h3 {
        line-height: 0.8em;
    }

    #hero-banner .hero-image {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #hero-banner .hero-image img {
        position: static;
        width: 35vw;
        height: 35vw;
        max-height: 300px;
        max-width: 300px;
    }

    /*HERO RESERVATIONS*/
    #hero-reservations .container {
        width: 90vw;
    }

    #hero-reservations .hero-call-to-action {
        padding: 30px 10px;
    }

    #hero-reservations .hero-call-to-action h2,
    #hero-reservations .hero-call-to-action h3 {
        line-height: 0.8em;
    }

    /*WEEKLY SPECIALS*/
    #weekly-specials .container {
        width: 90vw;
    }

    #weekly-specials .banner-call-to-action {
        padding: 30px;
    }

    #weekly-specials .banner-call-to-action h2,
    #weekly-specials .banner-call-to-action h3 {
        line-height: 0.8em;
    }

    #weekly-specials .banner-images {
        justify-content: center;
    }

    #weekly-specials .banner-images .row .image {
        width: 180px;
        height: 180px;
    }
}

@media screen and (max-width: 700px) {

    /*WEEK SPECIALS*/
    #week-specials .title {
        flex-direction: column;
        row-gap: 30px;
    }

    #week-specials .title h2 {
        line-height: 0.8em;
        text-align: center;
    }

}

@media screen and (min-width: 425px) and (max-width: 768px) {

    /*HERO BANNER HOME*/
    #hero-banner .hero-call-to-action p {
        width: 50vw;
    }
}

@media screen and (max-width: 768px) {

    /*HEADER*/
    header .app-header-mobile {
        display: block;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 15px 20px;
    }

    header .app-header {
        display: none;
    }

    /*HERO BANNER MOBILE*/
    #hero-banner .container {
        position: relative;
        width: 90vw;
    }

    #hero-banner .hero-call-to-action {
        padding: 30px 10px;
        width: 70vw;
        flex: auto;
    }

    #hero-banner .hero-image {
        position: absolute;
        left: 60%;
        top: 25%;
    }

    #hero-banner .hero-image img {
        width: 30vw;
        height: 30vw;
    }

    /*WEEKS SPECIALS*/
    #week-specials {
        padding: 40px 20px;
    }

    /*HERO RESERVATIONS*/
    #hero-reservations .container {
        width: 90vw;
    }

    #hero-reservations .hero-call-to-action {
        padding: 30px 10px;
        text-align: center;
        row-gap: 20px;
    }

    #hero-reservations .hero-call-to-action h2,
    #hero-reservations .hero-call-to-action h3 {
        line-height: 0.8em;
    }

    #hero-reservations .hero-call-to-action a {
        margin: auto;
    }

    #hero-reservations .empty-column {
        display: none;
    }

    /*WEEKLY SPECIALS*/
    #weekly-specials {
        padding: 60px 20px;
    }

    #weekly-specials .container {
        width: 90vw;
        flex-direction: column;
    }

    #weekly-specials .banner-call-to-action {
        text-align: center;
    }

    #weekly-specials .banner-call-to-action h2,
    #weekly-specials .banner-call-to-action h3 {
        line-height: 0.8em;
    }

    #weekly-specials .banner-call-to-action a {
        align-self: center;
    }
}

@media screen and (min-width: 916px) and (max-width: 1024px) {

    /*WEEK SPECIALS*/
    #week-specials .specials {
        column-gap: 10px;
    }

    #week-specials article .dish-information {
        min-height: 220px;
    }

    #week-specials article .dish-description {
        margin-bottom: 15px;
    }
}